body {
    background-color: #ddd;
    margin: 0;
}

nav {
    background-color: #fff;
    margin: -20px auto;
    height: 100px;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.grid-container {
    display: grid;
    gap: 20px;
    /* max-width: 1200px; */
    margin: 60px auto;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
}

.grid-container div {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    align-items: center;
    border-radius: 6px;
    border: 16px solid #fff;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.05);
}

.grid-container .tall {
    grid-row: span 2;
}

img {

    min-width: 100%;
    height: 100%;
}

@media screen and (max-width :960px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width :620px) {
    .grid-container {
        grid-template-columns:  1fr;
        max-width: 400px;
        margin: 20px auto;
    }
    nav{
        height: auto;
    }
    nav ul{
        display: block;
    }
}